flows.json
[{"id":"6f3a341.94afbcc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7e0b801f.f1a0a","type":"function","z":"6f3a341.94afbcc","name":"Input Parameters","func":"var token=msg.payload.token;\nvar partner=global.get('partner');\nvar dependents=global.get('dependents');\nvar tenure=global.get('tenure');\nvar phoneservice=global.get('phoneservice');\nvar multiplelines=global.get('multiplelines');\nvar onlinesecurity=global.get('onlinesecurity');\nvar onlinebackup=global.get('onlinebackup');\nvar deviceprotection=global.get('deviceprotection');\nvar techsupport=global.get('techsupport');\nvar monthlycharges=global.get('monthlycharges');\nmsg.payload={\"fields\":[\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"MonthlyCharges\"],\"values\":[[partner,dependents,tenure,phoneservice,multiplelines,onlinesecurity,onlinebackup,deviceprotection,techsupport,monthlycharges]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":267,"y":164,"wires":[["94e9cbae.b8af78"]]},{"id":"94e9cbae.b8af78","type":"http request","z":"6f3a341.94afbcc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/8f3afb1c-cd9a-4979-aa7f-090ad3a8c3e5/deployments/2945b8b3-f714-4cde-b969-791abc990374/online","tls":"","proxy":"","authType":"basic","x":398,"y":100,"wires":[["d1920266.961bf","d96ea467.3fc658"]]},{"id":"d96ea467.3fc658","type":"debug","z":"6f3a341.94afbcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":798,"y":100,"wires":[]},{"id":"120104bf.fa99fb","type":"http request","z":"6f3a341.94afbcc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":438,"y":360,"wires":[["e0310010.43466","7e0b801f.f1a0a"]]},{"id":"db136821.1e4728","type":"inject","z":"6f3a341.94afbcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":68,"y":220,"wires":[["39b2cde2.07d8b2"]]},{"id":"39b2cde2.07d8b2","type":"function","z":"6f3a341.94afbcc","name":"token generation","func":"global.set(\"partner\",msg.payload.partner)\nglobal.set(\"dependents\",msg.payload.dependents)\nglobal.set(\"tenure\",msg.payload.tenure)\nglobal.set(\"phoneservice\",msg.payload.phoneservice)\nglobal.set(\"multiplelines\",msg.payload.multiplelines)\nglobal.set(\"onlinesecurity\",msg.payload.onlinesecurity)\nglobal.set(\"onlinebackup\",msg.payload.onlinebackup)\nglobal.set(\"deviceprotection\",msg.payload.deviceprotection)\nglobal.set(\"techsupport\",msg.payload.techsupport)\nglobal.set(\"monthlycharges\",msg.payload.monthlycharges)\nreturn msg;","outputs":1,"noerr":0,"x":267,"y":316,"wires":[["120104bf.fa99fb"]]},{"id":"d1920266.961bf","type":"function","z":"6f3a341.94afbcc","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nif(msg.payload == 0)\n{\n    msg.payload=\"No\"\n    return msg;\n}\nelse\n{\n    msg.payload=\"Yes\"\n    return msg;\n}","outputs":1,"noerr":0,"x":488,"y":180,"wires":[["d96ea467.3fc658","811a6688.405518"]]},{"id":"e0310010.43466","type":"debug","z":"6f3a341.94afbcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":698,"y":380,"wires":[]},{"id":"22cbb027.ae89c","type":"ui_form","z":"6f3a341.94afbcc","name":"","label":"","group":"f4b34900.6a27f8","order":1,"width":0,"height":0,"options":[{"label":"Partner","value":"partner","type":"number","required":true},{"label":"Dependents","value":"dependents","type":"number","required":true},{"label":"tenure","value":"tenure","type":"number","required":true},{"label":"PhoneService","value":"phoneservice","type":"number","required":true},{"label":"MultipleLines","value":"multiplelines","type":"number","required":true},{"label":"OnlineSecurity","value":"onlinesecurity","type":"number","required":true},{"label":"OnlineBackup","value":"onlinebackup","type":"number","required":true},{"label":"DeviceProtection","value":"deviceprotection","type":"number","required":true},{"label":"TechSupport","value":"techsupport","type":"number","required":true},{"label":"MonthlyCharges","value":"monthlycharges","type":"number","required":true}],"formValue":{"partner":"","dependents":"","tenure":"","phoneservice":"","multiplelines":"","onlinesecurity":"","onlinebackup":"","deviceprotection":"","techsupport":"","monthlycharges":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":118,"y":420,"wires":[["39b2cde2.07d8b2"]]},{"id":"811a6688.405518","type":"ui_text","z":"6f3a341.94afbcc","group":"f4b34900.6a27f8","order":2,"width":"0","height":"0","name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":718,"y":220,"wires":[]},{"id":"f4b34900.6a27f8","type":"ui_group","z":"","name":"Prediction","tab":"520d68b9.a24e18","disp":true,"width":"6","collapse":false},{"id":"520d68b9.a24e18","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]